{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <h2>Invoice List</h2>
    <ul>
        {% for invoice in invoices %}
        <li>
            <a href="{% url 'invoice_detail' invoice.id %}">Invoice nr. {{ invoice.invoice_number }} - total amount: {{ invoice.total_amount }} € </a>
            <a href="{% url 'invoice_delete' invoice.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>