{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice {{ invoice.invoice_number }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="invoice-detail">
        <h1>Invoice Details</h1>

        <h2>Invoice nr. {{ invoice.invoice_number }}</h2>

        <p>Date: {{ invoice.date_created }}</p>
        <p>Total Amount: {{ invoice.total_amount }} €</p>

        <h3>Sales</h3>
        <ul>
            {% for sale in invoice.sales.all %}
            <li>{{ sale.product.name }} - Quantity: {{ sale.quantity_sold }} - Price: {{ sale.product.price }} €</li>
            {% endfor %}
        </ul>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="button">Download Invoice</button>
            <br>
        </form>
        

        <a class="home-link" href="{% url 'product_list' %}">Home</a>

    </div>
    

</body>
</html>
