{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="invoice-detail">
        <h1>Invoice List</h1>
        <ul>
            {% for invoice in invoices %}
                <li>
                    <a href="{% url 'invoice_detail' invoice.id %}">
                        Invoice nr. {{ invoice.invoice_number }} - total amount: {{ invoice.total_amount }} €
                    </a>
                    <a href="{% url 'invoice_delete' invoice.id %}" class="delete-link">
                        Delete
                    </a>
                </li>
            {% empty %}
                <li>No invoices available.</li>
            {% endfor %}
        </ul>
        
    <a href="{% url 'product_list' %}">Home</a>
    </div>
</body>
</html>