{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

</html>
    <h1>Inventory Management System</h1>

    <div class="grid-container">
        <div class="grid-item1">
            <h2>Products <a class="button" href="{% url 'product_create' %}">Add Product</a></h2>
            <ul>
                {% for product in products %}
                <li>{{ product.name }} - Stock: {{ product.quantity_in_stock }}
                    <div class="action-links">
                        <a href="{% url 'product_edit' product.id %}">Edit</a> |
                        <a class="delete-link" href="{% url 'product_delete' product.id %}">Delete</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="grid-item2">
            <h2>Sales <a class="button" href="{% url 'sale_create' %}">Create Sale</a></h2>
            <ul>
                {% for sale in sales %}
                <li>{{ sale.product.name }}, {{ sale.quantity_sold }}pc on {{ sale.sale_date|date:"d.m.Y" }}
                    <a class="delete-link" href="{% url 'sale_delete' sale.id %}">Delete</a>
                </li>
                {% empty %}
                <li>No sales available.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid-item3">
            <h2>Invoices <a class="button" href="{% url 'invoice_create' %}">Create Invoice</a></h2>
            <ul>
                {% for invoice in invoices %}
                    <li>
                        <a href="{% url 'invoice_detail' invoice.id %}">
                            Invoice nr. {{ invoice.invoice_number }} - total amount: {{ invoice.total_amount }} €
                        </a>
                        <a href="{% url 'invoice_delete' invoice.id %}" class="delete-link">Delete</a>
                    </li>
                {% empty %}
                    <li>No invoices available.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
</html>
