<h2>Create Sale</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Sale</button>
</form>

<div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Product Name</th>
          <th>Quantity Sold</th>
          <th>Sale Date</th>
        </tr>
      </thead>
      <tbody>
        {% for sale in sales %}
          <tr>
            <td>{{ sale.id }}</td>
            <td>{{ sale.product }}</td>
            <td>{{ sale.quantity_sold }}</td>
            <td>{{ sale.sale_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
